.main {
    display: block;
    unicode-bidi: isolate;
}

.btn {
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-transform: uppercase;
    color: #212529;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.img {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    max-width: 100%;
}

.steps-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.steps__item {
    border-bottom: 1px solid #212529;
}

.reviews-wrap {
    display: grid;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(min(21.25rem, 100%), 1fr));
}

.reviews__item {
    background: #ffffff;
    border: 1px solid #212529;
}

.reviews-card {
    padding: 2.5rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.reviews-card__icon {
    margin-bottom: 2rem;
}

.reviews__subtitle {
    margin-bottom: 1.25rem;
    font-weight: 700;
}