.main {
    display: block;
    unicode-bidi: isolate;
}

.title-lg {
    line-height: 120%;
    text-transform: uppercase;
    font-size: clamp(2rem, 1.242rem + 3.79vw, 4.5rem);
    color: #212529;
    font-weight: 400;
    font-family: "Helvetica";
}

.btn {
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-transform: uppercase;
    color: #212529;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.img {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    max-width: 100%;
}