.menu {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    pointer-events: none;
}

.menu .overlay {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    pointer-events: none;
    background: rgba(33, 37, 41, 0.5);
}

.menu-content {
    margin-left: auto;
    height: 100%;
    max-width: 19rem;
    background: #ECECEC;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.menu-wrap {
    position: relative;
    padding-top: 5.625rem;
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}