mixin select-item(item)
  .header__select-item
    span.header__select-item-text=item
mixin custom-select(name)
  .header_select
    .header_select-header
      span.header_select-current=name
      .header_select-icon
        .header_select-icon-img(src='../media/icons/logo.png' alt="")
header.header
  .header_top
    img.header_logo(src="../media/icons/logo.png", alt="")
    .header_top-right
      .header_top-nav
        .header_bottom
          +custom-select('О нас')
          +custom-select('Проекты')
          +custom-select('Материалы')
          +custom-select('Отзывы')
      .header_number-text +7 999 999 99 99